################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PetCarePlatform/config/applicationhost.config
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/PetCarePlatform/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/PetCarePlatform/FileContentIndex/39838eca-e31a-422c-8232-6bb0d10f2660.vsidx
/.vs/PetCarePlatform/v17/.suo
/.vs/PetCarePlatform/v17/DocumentLayout.backup.json
/.vs/PetCarePlatform/v17/DocumentLayout.json
/.vs/PetCarePOC/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/PetCarePOC/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/PetCarePOC/v17/.wsuo
/.vs/PetCarePOC/v17/DocumentLayout.backup.json
/.vs/PetCarePOC/v17/DocumentLayout.json
/.vs/ProjectEvaluation/petcareplatform.metadata.v9.bin
/.vs/ProjectEvaluation/petcareplatform.projects.v9.bin
/.vs/ProjectEvaluation/petcareplatform.strings.v9.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/PetCarePlatform/DesignTimeBuild/.dtbcache.v2
/.vs/PetCarePlatform/FileContentIndex/499972a6-8209-4589-8bf3-2b9ad98d6cb3.vsidx
/.vs/PetCarePlatform/FileContentIndex/60addd6e-67ab-4045-b35a-092b0cfc8403.vsidx
/.vs/PetCarePlatform/FileContentIndex/7ad1fa43-c966-4dd9-ac3e-dbc2b52f6a0c.vsidx
/.vs/PetCarePlatform/FileContentIndex/9908bccb-fba1-43bf-9ed1-699d076c15be.vsidx
/.vs/PetCarePlatform/FileContentIndex/aa8baf7c-14cf-4534-9199-d04458489506.vsidx
/.vs/PetCarePlatform/v17/.futdcache.v2
/.vs/PetCarePOC/v17/workspaceFileList.bin
/.gitignore
/.gitignore
/.gitignore
/PetCarePlatform.Web/obj/PetCarePlatform.Web.csproj.nuget.dgspec.json
/PetCarePlatform.Web/obj/project.assets.json
/PetCarePlatform.Web/obj/project.nuget.cache
/PetCarePlatform.Web/obj/Release/net9.0/apphost.exe
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.AssemblyInfoInputs.cache
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.csproj.AssemblyReference.cache
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.csproj.CoreCompileInputs.cache
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.csproj.FileListAbsolute.txt
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.dll
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.pdb
/PetCarePlatform.Web/obj/Release/net9.0/PetCarePlatform.Web.sourcelink.json
/PetCarePlatform.Web/obj/Release/net9.0/rbcswa.dswa.cache.json
/PetCarePlatform.Web/obj/Release/net9.0/ref/PetCarePlatform.Web.dll
/PetCarePlatform.Web/obj/Release/net9.0/rjsmrazor.dswa.cache.json
/PetCarePlatform.Web/obj/Release/net9.0/staticwebassets.build.json
/PetCarePlatform.API/bin/Release/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.API.deps.json
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.API.dll
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.API.exe
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.API.pdb
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.Core.dll
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.Core.pdb
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.API/bin/Release/net8.0/PetCarePlatform.Infrastructure.pdb
/PetCarePlatform.API/bin/Release/net8.0/System.Formats.Asn1.dll
/PetCarePlatform.API/obj/PetCarePlatform.API.csproj.nuget.dgspec.json
/PetCarePlatform.API/obj/project.assets.json
/PetCarePlatform.API/obj/project.nuget.cache
/PetCarePlatform.API/obj/Release/net8.0/apphost.exe
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.AssemblyInfo.cs
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.AssemblyInfoInputs.cache
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.assets.cache
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.csproj.AssemblyReference.cache
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.csproj.CoreCompileInputs.cache
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.csproj.FileListAbsolute.txt
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.dll
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.pdb
/PetCarePlatform.API/obj/Release/net8.0/PetCarePlatform.API.sourcelink.json
/PetCarePlatform.API/obj/Release/net8.0/ref/PetCarePlatform.API.dll
/PetCarePlatform.API/obj/Release/net8.0/refint/PetCarePlatform.API.dll
/PetCarePlatform.API/obj/Release/net8.0/rjsmcshtml.dswa.cache.json
/PetCarePlatform.API/obj/Release/net8.0/rjsmrazor.dswa.cache.json
/PetCarePlatform.Core/bin/Release/net8.0/PetCarePlatform.Core.dll
/PetCarePlatform.Core/bin/Release/net8.0/PetCarePlatform.Core.pdb
/PetCarePlatform.Core/obj/Release/net8.0/PetCarePlatform.Core.AssemblyInfoInputs.cache
/PetCarePlatform.Core/obj/Release/net8.0/PetCarePlatform.Core.csproj.FileListAbsolute.txt
/PetCarePlatform.Core/obj/Release/net8.0/PetCarePlatform.Core.dll
/PetCarePlatform.Core/obj/Release/net8.0/PetCarePlatform.Core.pdb
/PetCarePlatform.Core/obj/Release/net8.0/PetCarePlatform.Core.sourcelink.json
/PetCarePlatform.Core/obj/Release/net8.0/ref/PetCarePlatform.Core.dll
/PetCarePlatform.Core/obj/Release/net8.0/refint/PetCarePlatform.Core.dll
/PetCarePlatform.Infrastructure/bin/Release/net8.0/PetCarePlatform.Core.dll
/PetCarePlatform.Infrastructure/bin/Release/net8.0/PetCarePlatform.Core.pdb
/PetCarePlatform.Infrastructure/bin/Release/net8.0/PetCarePlatform.Infrastructure.deps.json
/PetCarePlatform.Infrastructure/bin/Release/net8.0/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.Infrastructure/bin/Release/net8.0/PetCarePlatform.Infrastructure.pdb
/PetCarePlatform.Infrastructure/obj/PetCarePlatform.Infrastructure.csproj.nuget.dgspec.json
/PetCarePlatform.Infrastructure/obj/PetCarePlatform.Infrastructure.csproj.nuget.g.props
/PetCarePlatform.Infrastructure/obj/PetCarePlatform.Infrastructure.csproj.nuget.g.targets
/PetCarePlatform.Infrastructure/obj/project.assets.json
/PetCarePlatform.Infrastructure/obj/project.nuget.cache
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.AssemblyInfoInputs.cache
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.assets.cache
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.csproj.AssemblyReference.cache
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.csproj.CoreCompileInputs.cache
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.csproj.FileListAbsolute.txt
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.pdb
/PetCarePlatform.Infrastructure/obj/Release/net8.0/PetCarePlatform.Infrastructure.sourcelink.json
/PetCarePlatform.Infrastructure/obj/Release/net8.0/ref/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.Infrastructure/obj/Release/net8.0/refint/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Core.dll
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Core.pdb
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Infrastructure.dll
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Infrastructure.pdb
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Web.dll
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Web.exe
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Web.pdb
/PetCarePlatform.Web/bin/Release/net9.0/PetCarePlatform.Web.staticwebassets.endpoints.json
/.vs/PetCarePlatform/FileContentIndex/037a1f65-44eb-47d6-9ea4-ab78331dbaf1.vsidx
/.vs/PetCarePlatform/FileContentIndex/5704f3aa-7441-42d9-addb-7d932781e44a.vsidx
/.vs/PetCarePlatform/FileContentIndex/5a2fcc0b-13c9-46ec-b00a-1d4d3d681184.vsidx
