################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PetCareBooking/config/applicationhost.config
/.vs/PetCareBooking/copilot-chat/727bf031/sessions/1791fd10-b087-46cb-9e6f-7f197acc2cab
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/CodeChunks.db-shm
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/CodeChunks.db-wal
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/SemanticSymbols.db-shm
/.vs/PetCareBooking/CopilotIndices/17.14.698.11175/SemanticSymbols.db-wal
/.vs/PetCareBooking/DesignTimeBuild/.dtbcache.v2
/.vs/PetCareBooking/FileContentIndex/95b5409b-18ee-420c-99ea-5bba1e732418.vsidx
/.vs/PetCareBooking/v17/.futdcache.v2
/.vs/PetCareBooking/v17/.suo
/.vs/PetCareBooking/v17/DocumentLayout.backup.json
/.vs/PetCareBooking/v17/DocumentLayout.json
/.vs/PetCarePOC/CopilotIndices/17.14.698.11175/CodeChunks.db
/.vs/PetCarePOC/CopilotIndices/17.14.698.11175/SemanticSymbols.db
/.vs/PetCarePOC/FileContentIndex/213085d8-6b31-4cdd-91da-73a09ef905a6.vsidx
/.vs/PetCarePOC/FileContentIndex/66611779-e47f-45bc-bd67-4634408fad23.vsidx
/.vs/PetCarePOC/FileContentIndex/9b628d69-d6f0-4293-bd9f-d37707a86817.vsidx
/.vs/PetCarePOC/FileContentIndex/ae3e7513-5f3e-40eb-9300-38fe0cf46293.vsidx
/.vs/PetCarePOC/v17/.wsuo
/.vs/PetCarePOC/v17/DocumentLayout.backup.json
/.vs/PetCarePOC/v17/DocumentLayout.json
/.vs/ProjectEvaluation/petcarebooking.metadata.v9.bin
/.vs/ProjectEvaluation/petcarebooking.projects.v9.bin
/.vs/ProjectEvaluation/petcarebooking.strings.v9.bin
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
